body{
    background-color: rgb(148, 123, 176);
    margin: auto;
    font-family: 'Lato', sans-serif;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
h1{
    font-weight: bold;
} 
h3{
    font-weight: unset;
}
button{
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}
.mobile-menu{
    display: none;
}
button:active, a:active, .fa-bars:active, .fa-github:active{
    transform: scale(0.95)
}
button:focus { 
    outline: none; 
}
.block{
    max-width: 1300px;
    margin: auto;
}
.navbar{
    width: -webkit-fill-available;
    position: absolute;
    max-width: 1300px;
    z-index: 1;
}
.navbar2{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 24px;
}
.company{
    width: 15%;
}
.nav{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button{
    width: 15%;
    display: flex;
    justify-content: flex-end;
}
.button-mobile{
    display: none;
}
.mobile-menu{
    display: none;
}
.boxes{
    max-width: 1300px;
    display: flex;
    z-index: -1;
}
.purple{
    width: 30%;
    height: 540px;
    background-color: rgb(148, 123, 176);
    display: flex;
    position: static;
    align-items: center;
}
.main-2{
    display: flex;
    width: 75%;
    background-color: black;
    
}
.one, .two, .three{
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    position: relative;
    
}
.joo{
    position: absolute;
    width: 100%;
    z-index: 1;
    text-align: -webkit-center;
}
.triangle{
    position: relative;
    width: 175px;
    height: 337px;
    transform: scaleY(0.65);
    border-bottom: 1px solid white;
}
.triangle:before, .triangle:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
  }
  
.triangle:before {
    border-left: 1px solid white;
    left: 0;
    transform: rotate(15deg);
    transform-origin: bottom left;
  }
  
.triangle:after {
    border-right: 1px solid white;
    right: 0;
    transform: rotate(-15deg);
    transform-origin: bottom right;
  }
.one{
    background-image: linear-gradient( rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23) ), url(images/n.jpg);
    background-position: 0% 0%;
    background-size: cover;
}
.two{
    background-image: linear-gradient( rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23) ), url(images/2.jpg);
    background-position: 0% 0%;
    background-size: cover;
}
.three{
    background-image: linear-gradient( rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23) ), url(images/3.jpg);
    background-position: 0% 0%;
    background-size: cover;
}
#eql{
    height: 50%;
    padding: 64px 24px 0 24px;
}
.mobile-change{
    display: block;
}
.short-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    border: 2px solid black;
    width: 130px;
}
.middle{
    display: flex;
    flex-direction: column;
    width: 46%;
    align-items: center;
    text-align: center;
    margin-top: 75px;
}
.table{
    display: flex;
    justify-content: center;
}
.column{
    width: 20%;
    margin: 20px 15px 0 0;
}
.color-change{
    border: 8px solid rgb(166, 139, 195);
    width: 1284px;
    margin-top: 90px;
}
.footer{
    max-width: 1300px;
}
.school{
    text-align: center;
    margin: 40px 0 13px 0;
}
.code{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
.studies{
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}
.purple-top{
    display: contents;
}
@media(max-width: 1200px){
    .block{
        width: 100%; 
        margin: auto;
    }
    .navbar{
        width: 100%; 
    }
    .nav{
        width: 100%; 
        display: none;
    }
    .boxes{
        width: 100%; 
        display: block;
    }
    .main-2{
        height: 540px;
        width: 100%;
    }
    .button{
        display: none;
    }
    .purple{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .button-mobile{
        width: 100%;
        text-align: center;
        display: block;
    }
    #mobile-button{
        color: white;
        background: transparent;
        border: 1.2px solid white;
        padding: 10px 32px;
        border-radius: 2px;
        cursor: pointer;
        font-weight: bold;
    }
    .mobile-menu{
        display: block;
    }
    .fa-bars{
        color: black;
        background-color: white;
        padding: 9px;
        border-radius: 47%;
    }
    .color-change{
        width: 100%;
        margin-right: 0;
    }
    .purple-top{
        display: block;
        width: 100%;
    }
    .footer{
        max-width: 1200px;
    }
    .footer > .color-change{
        width: auto;
    }
    
}
@media (max-width: 720px){
    .main-2{
        display: block;
        height: 720px;
    }
    .one, .two, .three{
        width: auto;
        background-position: 0% 53%;
        height: calc(100% / 3);
    }
    .one > #eql{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 74%;
        padding: 10px 40px 10px 54px;
    }
    .two > #eql{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 74%;
        padding: 10px 40px 10px 54px;
    }
    .three > #eql{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 74%;
        padding: 10px 40px 10px 54px;
    }
    h1{
        margin: 0;
    }
    h3{
        margin: 0;
    }
    .middle{
        width: 100%;
    }
    .table{
        display: block;
    }
    .column{
        width: 100%;
    }
    .column > p, h2, i{
        padding: 0 29px;
    }
    .school > .github{
        font-size: 8px;
    }
    a > .fa-github{
        padding: 5px;
    }
}
